dns-resolver:
  config:
    server:
{% for server in dns_resolvers %}
    - {{ server }}
{% endfor %}

routes:
  config:
  - destination: 0.0.0.0/0
    next-hop-address: {{ default_route }}
    next-hop-interface: {{ default_interface }}

interfaces:
- name: dummy0
  type: dummy
  state: up
  ipv4:
    enabled: true
    address:
    - ip: {{ prefix_loopbacks }}.{{ host_id }}
      prefix-length: 32
  mtu: 65536

{% for segment in network_segments %}
- name: vxlan{{ segment.vni }}
  type: vxlan
  state: up
  mtu: 1500
  vxlan:
    destination-port: 4789
    id: {{ segment.vni }}
    learning: false
    local: {{ prefix_loopbacks }}.{{ host_id }}

- name: {{ segment.name }}x
  type: linux-bridge
  state: up
  bridge:
    options:
      stp:
        enabled: false
    port:
    - name: vxlan{{ segment.vni }}
{% if segment.prefix_base | default(False) %}
  ipv4:
    enabled: true
    address:
    - ip: {{ segment.prefix_base | ipmath(host_id) }}
      prefix-length: 24
{% endif %}
  mtu: 1500

{% endfor %}

{% for i in [1, 2] %}
- name: eno{{ i }}
  type: ethernet
  state: up
  ipv4:
    enabled: true
    address:
    - ip: {{ underlay_prefixes[i-1].base | ipmath((host_id-1)*4 + 2) }}
      prefix-length: 30
  lldp:
    enabled: true
  mtu: 2000
{% endfor %}

