ip prefix-list LOOPBACKS seq 1 permit {{ prefix_loopbacks }}.0/24 ge 32
ip prefix-list LOOPBACKS seq 2 deny any
!
route-map source-from-loopback permit 1
 match ip address prefix-list LOOPBACKS
{% if component | default("") == "zebra" %}
 set src {{ prefix_loopbacks }}.{{ host_id }}
{% endif %}
route-map source-from-loopback permit 20
!
route-map LOOPBACKS permit 1
 match ip address prefix-list LOOPBACKS
route-map LOOPBACKS deny 10

