frr version 7.5
frr defaults traditional
!
hostname {{ inventory_hostname_short }}
!
ip protocol bgp route-map source-from-loopback
ip router-id 10.4.3.{{ host_id }}
!
{% include "frr-policy.j2" %}
!
line vty
!

